---
import Base from '@/layouts/Base.astro'
---

<Base title='Events'>
    <section
        class='min-h-screen bg-gradient-to-r from-blue-400 from-5% via-amber-300 via-50% to-blue-400 to-95% grid place-items-center'>
        Mapas, eventos
    </section>
</Base>
