---
import Base from "../layouts/Base.astro";
import Slider from "../components/slider.astro";
---

<Base title="Home - Spira">
  <Slider />
  <div class="min-h-screen bg-amber-500 grid place-items-center">Spira</div>
</Base>
