---
import Hero from '../components/hero.astro'
import Base from '../layouts/Base.astro'
---

<Base whiteNav>
    <main class='scroll-smooth overflow-x-hidden'>
        <Hero />
        <section class='min-h-screen bg-amber-500 grid place-items-center'>Spira</section>
    </main>
</Base>
