---
import Base from "../layouts/Base.astro";
import Hero from "../components/hero.astro";
---

<Base title="Spira">
  <Hero />
  <div class="min-h-screen bg-amber-500 grid place-items-center">Spira</div>
</Base>
