---
import Hero from '../components/hero.astro'
import Base from '../layouts/Base.astro'
---

<Base whiteNav>
    <Hero />
    <section
        class='min-h-screen bg-gradient-to-r from-indigo-400 from-5% via-purple-300 via-50% to-pink-400 to-95% grid place-items-center'>
        Spira
    </section>
</Base>
