---
import { Globe2 } from 'lucide-react'
---

<section class='relative h-screen w-screen overflow-hidden'>
    <video
        id='backgroundVideo'
        aria-hidden='true'
        muted
        autoplay
        playsinline
        class='absolute inset-0 h-full w-full -scale-x-100 object-cover'>
        <source src='/spira-intro.mp4' type='video/mp4' />Your browser does not support the video tag.
    </video>
    <ul class='absolute inset-0 z-10 flex flex-col justify-center gap-y-28 p-40 font-montserrat text-sm font-semibold'>
        <li class='flex items-center gap-6'>
            <Globe2 />
            <button class='uppercase'>Sincronizador de recursos</button>
        </li>
        <li class='flex items-center gap-6'>
            <Globe2 />
            <button class='uppercase'>Mapa interactivo</button>
        </li>
        <li class='flex items-center gap-6'>
            <Globe2 />
            <button class='uppercase'>Red sináptica</button>
        </li>
        <li class='flex items-center gap-6'>
            <Globe2 />
            <button class='uppercase'>Foro de co-creación</button>
        </li>
    </ul>
</section>
