---
import { Globe2 } from "lucide-react";
---

<div class="min-h-screen">
  <video
    id="backgroundVideo"
    aria-hidden="true"
    muted
    autoplay
    playsinline
    class="relative h-full w-full object-cover transition-opacity duration-300 pointer visible opacity-100 -scale-x-100"
  >
    <source src="spira-intro.mp4" type="video/mp4" /> Your browser does not
    support the video tag.
  </video>
  <ul
    class="absolute top-1/2 left-1/4 transform -translate-x-1/2 -translate-y-1/2 gap-y-32 flex flex-col pl-40 font-montserrat uppercase font-bold max-h-screen"
  >
    <li class="flex items-center gap-6">
      <Globe2 />
      <a href="#">Sincronizador de recursos</a>
    </li>
    <li class="flex items-center gap-6">
      <Globe2 />
      <a href="#">Mapa interactivo</a>
    </li>
    <li class="flex items-center gap-6">
      <Globe2 />
      <a href="#">Red sináptica</a>
    </li>
    <li class="flex items-center gap-6">
      <Globe2 />
      <a href="#">Foro de co-creación</a>
    </li>
  </ul>
</div>
