---
import { Globe2, Menu } from "lucide-react";

interface Props {
  whiteNav?: boolean;
}

const { whiteNav } = Astro.props;
---

<nav class="pl-20 pr-20 pt-10 flex justify-between fixed w-screen z-10">
  <a href="/" class="w-1/4">
    <img src="/horizontal.png" alt="spira horizontal logo" />
    <ul
      class=`flex flex-1 justify-end gap-16 items-center font-robotoslab ${whiteNav && "text-white"}`
    >
      <li><a href="/home">Home</a></li>
      <li><a href="#">Iniciar sesión</a></li>
      <li><a href="#">Unirse</a></li>
      <button> <Globe2 /></button>
      <button>
        <Menu />
      </button>
    </ul>
  </a>
</nav>
