---
import '@fontsource/montserrat/latin-600.css'

import { Globe, Globe2 } from 'lucide-react'

import NavbarDropdown from './navbar-dropdown'
---

<nav-bar class='fixed z-10 flex w-screen items-center justify-between px-20 transition-all'>
    <a href='/' class='h-1/6' aria-label='navigate to index page'>
        <img src='/horizontal.png' alt='spira horizontal logo' class='aspect-auto max-h-[100px] max-w-[250px]' />
    </a>
    <ul class='flex items-center gap-10 font-montserrat font-semibold'>
        <li><a href='/events' aria-label='navigate to events map'><Globe2 height={32} width={32} /></a></li>
        <li><a href='/events' aria-label='navigate to events map'><Globe height={32} width={32} /></a></li>
        <li><NavbarDropdown client:only='react' /></li>
    </ul>
</nav-bar>

<script>
    class NavBar extends HTMLElement {
        private content: HTMLElement | null = null

        constructor() {
            super()
            this.handleScrollChange = this.handleScrollChange.bind(this)
        }

        connectedCallback() {
            document.addEventListener('astro:page-load', this.handleRouteChange, { once: true })
        }

        private handleRouteChange = () => {
            console.log('handleRouteChange to', window.location.pathname)
            if (window.location.pathname === '/profile') {
                console.log('applyProfilePageStyles')
                this.toggleClasses(['backdrop-filter', 'backdrop-blur-md', 'shadow-md', 'text-white'], true)
            } else {
                this.content = document.querySelector('main')
                if (this.content) {
                    console.log('addScrollEventListener')
                    this.content.addEventListener('scroll', this.handleScrollChange)
                }
            }
        }

        private handleScrollChange() {
            const shouldAdd = this.content && this.content.scrollTop > 20
            this.toggleClasses(['backdrop-filter', 'backdrop-blur-md', 'shadow-md'], shouldAdd)
        }

        toggleClasses(classes: string[], add: boolean) {
            const method = add ? 'add' : 'remove'
            this.classList[method](...classes)
        }
    }

    customElements.define('nav-bar', NavBar)
</script>
