<section aria-label='image carousel' class='relative h-screen w-full'>
    <button
        class='absolute left-0 top-1/2 z-10 h-14 w-14 translate-y-1/2 bg-black/40 text-4xl text-white/50 hover:bg-black/30 hover:text-white active:bg-black/20 active:text-3xl'
        >&lsaquo;</button
    >
    <button
        class='absolute right-0 top-1/2 z-10 h-14 w-14 translate-y-1/2 bg-black/40 text-4xl text-white/50 hover:bg-black/30 hover:text-white active:bg-black/20 active:text-3xl'
        >&rsaquo;</button
    >
    <ul class='m-0 list-none p-0'>
        <li
            class='absolute inset-0 opacity-0 transition-opacity data-[active]:opacity-100 data-[active]:delay-0'
            data-active>
            <img src='slider/1.jpg' alt='first' class='block h-full w-full object-cover object-center' />
        </li>
        <li class='absolute inset-0 opacity-0 transition-opacity data-[active]:opacity-100 data-[active]:delay-0'>
            <img src='slider/2.jpg' alt='second' class='block h-full w-full object-cover object-center' />
        </li>
    </ul>
</section>

<script>
    const buttons = document.querySelectorAll('button')

    buttons.forEach(button => {
        button.addEventListener('click', () => {
            const offset = button.classList.contains('right-0') ? 1 : -1
            const slides = button.closest('section').querySelector('ul')

            const activeSlide = slides.querySelector('[data-active]') as HTMLElement
            let newIndex = [...slides.children].indexOf(activeSlide) + offset

            if (newIndex < 0) {
                newIndex = slides.children.length - 1
            } else if (newIndex >= slides.children.length) {
                newIndex = 0
            }

            slides.children[newIndex].setAttribute('data-active', '')
            delete activeSlide.dataset.active
        })
    })
</script>
