---
import "@fontsource/roboto-slab";
import "@fontsource/montserrat";
import "@/globals.css";
import Nav from "../components/navbar.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title?: string;
  whiteNav?: boolean;
}

const { title, whiteNav } = Astro.props;

const pageTitle = [title, "Spira"].filter(Boolean).join(" - ");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <ViewTransitions />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Nav {whiteNav} />
    <slot />
  </body>
</html>
